@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --f1: Verdana, Geneva, Tahoma, sans-serif;
    --f2: 'Passion One', cursive;
    --f3: 'Sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    max-height: 100vh;
    background-color: darkgray;
    font-family: var(--f1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--f2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--f3);
    font-size: 2em;
}

section > p{
    padding-bottom: 2em;
}

.normal{
background-color: white;
color: black;
}


.img{
    background-color: rgb(15, 15, 15);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-size: cover;
    background-attachment: fixed;
}

.img > p{
    padding: 8px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 10px
}

section#im01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#im02{
    background-image: url('../imagens/background002.jpg');
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}