body
{
    background-color: #e4b051;
    font-family: Arial, Helvetica, sans-serif;
}
#principal
{
    color: black;
}
p
{
    font-size: 20px;
}
main {
    background-color: rgb(231, 231, 231);
    width: 800px;
    padding: 10px;
    box-shadow: 5px 5px 15px #332532a8;
    margin: auto;
    border-radius: 10px;
}